.list-inline .item-list-elem {
    padding: .8rem;
    .item-wrapper {
        padding: 1rem;
        max-height: 300px;
        overflow: hidden;
        background-color: $cadet;
        box-shadow: 3px 3px 8px -6px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        cursor: pointer;
        .beer-thumbnail {
            max-height: 200px;
        }
    }
}

.beer-title {
    font-size: 2rem;
    @include truncate
}

.beer-lead {
    font-size: 1.7rem;
    margin-bottom: 0;
    color: $boro;
    font-weight: 600;
    @include truncate
}