@import './tools/_variables';
@import './tools/_mixins';
@import './modules/_header';
@import './modules/_beer-item';
@import './modules/_beer-details';
body {
    margin: 1rem;
    padding: 1rem;
    background-color: currentColor;
    font-family: 'Fira Sans', sans-serif;
}